* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

section{
  padding: 2.5rem 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e2622;
  padding: 0.5rem 4rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
nav h2 {
  color: #e9b44c;
}

nav h2:hover {
  color: #ffaa00;
}

nav img {
  width: auto;
  height: 3rem;
  transition: 0.5s;
}

nav img:hover {
  transform: scale(1.3);
  cursor: grab;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 1.4rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

/* hero secton */

.hero-banner{
  padding: 0;
}

.bg-container {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./image/bg-image.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 89vh;
  padding: 1rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-texts {
  text-align: center;
}

.hero-texts span {
  letter-spacing: 1.4px;
  color: #e9b44c;
  font-size: 1rem;
  font-weight: 500;
}

.hero-texts h2 {
  letter-spacing: 1.4px;
  font-size: 3rem;
  font-weight: 700;
  color: #fbf6ef;
  margin: 1.3rem 0;
}

.hero-texts p {
  letter-spacing: 1.4px;
  color: #f0e9dd;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.hero-texts button{
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.7rem;
  background-color: #ffaa00;
  border-radius: 0.5rem;
  border: none;
  margin-top:1rem ;
  transition: 0.5s;
}

.hero-texts button:hover{
  transform: scale(1.2);
}

/* about section css */

.about-section{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2,1fr);
  gap: 3.1rem;
  background-color: #f5efe6;
}

.about-section div img{
  width: 100%;
  border-radius: 0.5rem;
}

.about-section .about-section-texts h2{
  color: #2E2622;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.about-section .about-section-texts p{
  color: #5A4F47;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.about-section .about-section-texts button{
  background-color: #ffaa00;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 1rem;
  transition: 0.5s;
}

.about-section .about-section-texts button:hover{
  transform: scale(1.1);
}

/* items section */

.popular-items-bg-container{
  background-color: #efe0c9;
}

.items-section{
  text-align: center;
}

.items-section> p{
  margin-top: 1.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: #ffaa00;
  margin-bottom: 1rem;
}

.items-section h1{
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #2E2622;
}

.items-section .card-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 2rem;
}

.items-section .card-container .card{
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  transition: 0.5s;
}

.items-section .card-container .card:hover{
  transform: scale(1.09);
}

.items-section .card-container .card img{
  margin-bottom: 0.7rem;
}

.items-section .card-container .card h3{
  margin-bottom: 0.7rem;
  color: #2E2622;
}

.items-section .card-container .card p{
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: 500
}

.items-section .card-container .card span{
  color: #ffaa00;
  font-size: 1.2rem;
  font-weight: 600;
}

